<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>财务统计</title>

    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <!-- 引入样式 -->
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/elementui/elementui.css">
    <!-- 引入组件库 -->
    <script src="/elementui/elementui.js"></script>
</head>

<body>
    <div>
        <div id="serach">
            <el-form :inline="true" :model="searchForm" class="demo-form-inline" style="text-align:right">
                <el-form-item label="">
                    <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="月份" v-model="searchForm.time"></el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                    <el-button type="success" icon="plus" @click="toFlush">刷新</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div id="main" style="height:300px;">

        </div>
        <div id="serach1">
            <el-form :inline="true" :model="searchForm" class="demo-form-inline" style="text-align:right">
                <el-form-item label="">
                    <el-date-picker type="date" value-format="yyyy-MM-dd" placeholder="月份" v-model="searchForm.time"></el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                    <el-button type="success" icon="plus" @click="toFlush">刷新</el-button>
                </el-form-item>
            </el-form>
        </div>
             <div id="main1" style="height:300px;">

             </div>
         </div>
<script type="text/javascript">
    var vm=new Vue({
        el:"#serach",
        data:{
            searchForm:{
                time:""
            }
        },
        created:function () {
            this.searchForm.time="2018-12";
            this.getData1();
        },
        methods:{
            toFlush:function () {
                this.searchForm={
                   time:""
                }
                this.getData1();//重新加载数据
            },
            searchClick:function() {
                var self = this;
                $("#main").empty();
                $('#main').removeAttr('_echarts_instance_');
                self.getData1();//重新加载数据
            },
            getData1:function(){
                var self=this;
                var title = [];
                var ydata1 = [];
                var ydata2 = [];

                //使用ajax得到数据
                $.ajax({
                    url:"/acc/edata1",
                    type:"post",
                    data:{time:this.searchForm.time},
                    dataType:"json",
                    async:false,//同步
                    success:function(data){
                        if(data!=''){
                            for(var i=0;i<data.length;i++){
                                title.push(data[i].TTIME);
                                ydata1.push(data[i].LEAVE);
                                ydata2.push(data[i].INCOME);
                            }

                            self.showData1(title,ydata1,ydata2);
                        }else{
                            $("#main").html("无数据！！！").css({"font-size":"40px","color":"#ff0000"});

                        }
                    }
                });
            },
            showData1:function(title,ydata1,ydata2){
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));
                option = {
                    title : {
                        text: 'P2P网贷系统流水',
                        subtext: '数据来源于达阁系统'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['资金流水','收入']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            data : title
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'资金流水',
                            type:'bar',
                            data:ydata1,
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        },
                        {
                            name:'总收入',
                            type:'bar',
                            data:ydata2,
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name : '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            }
        }

    })
</script>
<script type="text/javascript">
    var vm=new Vue({
        el:"#serach1",
        data:{
            searchForm:{
                time:""
            }
        },
        created:function () {
            this.searchForm.time="2018-12";
            this.getData2();
        },
        methods:{
            toFlush:function () {
                this.searchForm={
                    time:""
                }
                this.getData2();//重新加载数据
            },
            searchClick:function() {
                var self = this;
                $("#main1").empty();
                $('#main1').removeAttr('_echarts_instance_');
                self.getData2();//重新加载数据
            },
            getData2:function(){
                var self=this;
                var title = [];
                var ydata1 = [];
                var ydata2 = [];
                //使用ajax得到数据
                $.ajax({
                    url:"/acc/edata",
                    type:"post",
                    data:{time:this.searchForm.time},
                    dataType:"json",
                    async:false,//同步
                    success:function(data){
                        if(data!=''){
                            for(var i=0;i<data.length;i++){
                                title.push(data[i].TTIME);
                                ydata1.push(data[i].INCOME);
                                ydata2.push(data[i].OUTCOME);
                            }
                            self.showData2(title,ydata1,ydata2);

                        }else{
                            $("#main1").html("本月无数据！！！").css({"font-size":"40px","color":"#ff0000"});


                        }
                    }
                });
            },
            showData2:function(title,ydata1,ydata2){
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main1'));
                option = {
                    title : {
                        text: 'P2P网贷账户流水',
                        subtext: '数据来源于达阁系统'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['总账户余额','收入']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            data : title
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'充值',
                            type:'bar',
                            data:ydata1,
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            }
                        },
                        {
                            name:'提现',
                            type:'bar',
                            data:ydata2,
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name : '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            }
        }

    })
</script>

</body>
</html>
