<!DOCTYPE html  >
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>p2p网贷平台</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="../foreground/css/common.css" rel="stylesheet" />
  <link href="../foreground/css/index.css" rel="stylesheet" type="text/css">
  <link href="../foreground/css/detail.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../foreground/script/jquery.min.js"></script>
  <script type="text/javascript" src="../foreground/script/common.js"></script>
  <script src="script/ablumn.js"></script>
  <script src="script/plugins.js"></script>
  <script src="script/detail.js"></script>
  <!-- 引入样式 -->
  <script type="text/javascript" src="../js/vue.js"></script>
  <script type="text/javascript" src="../js/axios.min.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="/elementui/elementui.css">
  <!-- 引入组件库 -->
  <script src="/elementui/elementui.js"></script>
</head>
<body>
<header>
  <div class="header-top min-width" >
    <div class="container fn-clear"> <strong class="fn-left">咨询热线：400-668-6698<span class="s-time">服务时间：9:00 - 18:00</span></strong>
      <ul class="header_contact">
        <li class="c_1"> <a class="ico_head_weixin" id="wx"></a>
          <div class="ceng" id="weixin_xlgz" style="display: none;">
            <div class="cnr"> <img src="../foreground/images/code.png"> </div>
            <b class="ar_up ar_top"></b> <b class="ar_up_in ar_top_in"></b> </div>
        </li>
        <li class="c_2"><a href="#" target="_blank" title="官方QQ" alt="官方QQ"><b class="ico_head_QQ"></b></a></li>
        <li class="c_4"><a href="#" target="_blank" title="新浪微博" alt="新浪微博"><b class="ico_head_sina"></b></a></li>
      </ul>
      <ul class="fn-right header-top-ul">
        <!--用户名为空-->
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="/goto/register" class="" title="免费注册" >免费注册</a>
          </div>
        </li>
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="/user/toLogin" class="js-login" title="登录" >登录</a>
          </div>
        </li>
        <!--用户名不为空-->
        <li th:if="${session.userName} ne null">
          <div class="">
            <span th:text="欢迎您 "></span>
            <span th:text="${session.userName}"></span>
          </div>
        </li>
        <li th:if="${session.userName} ne null">
          <div class="" >
            <a href="/user/toLogin" class="js-login" title="退出">退出</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="header min-width">
    <div class="container">
      <div class="fn-left logo"> <a class="" href="/goto/index"> <img src="../foreground/images/logo.png" title=""> </a> </div>
      <ul class="top-nav fn-clear">
        <li > <a href="/goto/index">首页</a> </li>
        <li class="on"> <a href="/goto/list" class="">我要投资</a> </li>
        <li> <a href="/goto/rent">我要融资</a> </li>
        <li> <a href="/goto/helpInfo">安全保障</a> </li>
        <li class="top-nav-safe"> <a href="/user/toOwn">我的账户</a> </li>
        <li> <a href="/goto/comInfo">关于我们</a> </li>
      </ul>
    </div>
  </div>
</header>
<!--信息详细-->
<div class="item-detail wrap" id="personaldetails">
  <div class="breadcrumbs"> <a href="index.html">首页</a>&gt; <a href="#">散标投资列表</a>&gt; <span class="cur">项目详情</span> </div>
  <div class="item-detail-head clearfix" data-target="sideMenu" id="detail">
    <!--标详细信息-->
    <!--<div class="hd"> <i class="icon icon-che" title="车易贷"></i>
      <h2>赵女士长安福特福克斯汽车质押贷款4万元</h2>
    </div>
    <div class="bd clearfix">
      <div class="data">
        <ul>
          <li> <span class="f16">借款金额</span><br>
            <span class="f30 c-333" id="account">40,000.00</span>元 </li>
          <li class="relative"><span class="f16">年利率</span><br>
            <span class="f30 c-orange">12.00% </span> </li>
          <li><span class="f16">借款期限</span><br>
            <span class="f30 c-333">1</span>个月 </li>
          <li><span class="c-888">借款编号：</span>20150921617</li>
          <li><span class="c-888">发标日期：</span>2015-09-13</li>
          <li><span class="c-888">保障方式：</span>100%本息垫付</li>
          <li><span class="c-888">还款方式：</span>按月付息,到期还本</li>
          <li><span class="c-888">需还本息：</span> 40,400.00元 </li>
          <li><span class="c-888">借款用途：</span>临时周转</li>
          <li class="colspan"> <span class="c-888 fl">投标进度：</span>
            <div class="progress-bar fl"> <span style="width:100%"></span> </div>
            <span class="c-green">100%</span> </li>
          <li> <span class="c-888">投资范围：</span> <span id="account_range"> 50元~
            不限 </span> </li>
        </ul>
      </div>
      <div class="mod-right mod-status">
        <div class="inner">
          <div class="text"> 待还本息：<span class="f24 c-333">40,400.00</span>元<br>
            剩余期限：<span class="f24 c-333">29天</span> <br>
            下期还款日： <span class="f20 c-333">2015-10-13</span> </div>
          <i class="icon icon-status icon-status1"></i> </div>
      </div>
    </div>-->
  </div>
  <div class="item-detail-body clearfix mrt30 ui-tab">
    <!--投标详情页其他信息导航-->
    <div class="ui-tab-nav hd"> <i class="icon-cur" style="left: 39px;"></i>
      <ul>
        <li class="nav_li active" id="nav_1"><a href="javascript:;">借款信息</a></li>
        <li class="nav_li" id="nav_2"><a href="javascript:;">投资记录</a> <i class="icon icon-num1" style="margin-left: -15px;"> <span id="tender_times">23</span> <em></em> </i> </li>
        <li class="nav_li" id="nav_3"><a href="javascript:;">还款列表</a></li>
      </ul>
    </div>
    <div class="bd">
      <!--导航：借款人介绍-->
      <div class="ui-tab-item active" style="display: block;" id="borrowermessage">
        <!--第二个axaj遍历其数据-->
      </div>
      <!--导航：投资记录-->
      <div class="ui-tab-item" style="display: none;" >
        <div class="repayment-list">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <th>投标人</th>
              <th>投标金额</th>
              <th>投标时间</th>
            </tr>
            </tbody>
            <!--投资记录表-->
            <tbody id="repayment_content" class="investor">
            <!--通过初始化函数里的第二个axaj遍历数据 -->
            </tbody>
          </table>
        </div>
        <!--分页-->
        <div>
          <!--投资列表底部工具条和分页符-->
          <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18" >
              <el-pagination
                      style="float: right"
                      @size-change="pageSizeChangeA"
                      @current-change="currentPageChangeA"
                      :current-page="currentPageA"
                      :page-sizes="[10, 20, 30, 50]"
                      :page-size="pageSizeA"
                      layout="total, sizes, prev, pager, next, jumper"
                      :total="totalA">
              </el-pagination>
            </el-col>
          </el-row>
        </div>
      </div>
      <!--导航：还款列表-->
      <div class="ui-tab-item" style="display: none;">
        <div class="repayment-list">
          温馨提示：<span class="c-orange">招标人历史还款记录，可作为投标的依据哦~~</span>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
              <th>合约还款日期</th>
              <th>实际还款日期</th>
              <th>总期数</th>
              <th>还款期数</th>
              <th>还款金额</th>
              <th>还款状态</th>
            </tr>
            </tbody>
            <tbody id="" class="refund">
            <!--第三个axaj遍历数据-->
            </tbody>
          </table>
        </div>

        <!--分页-->
        <div>
          <!--还款列表底部工具条和分页符-->
          <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18" >
              <el-pagination
                      style="float: right"
                      @size-change="pageSizeChangeB"
                      @current-change="currentPageChangeB"
                      :current-page="currentPageB"
                      :page-sizes="[10, 20, 30, 50]"
                      :page-size="pageSizeB"
                      layout="total, sizes, prev, pager, next, jumper"
                      :total="totalB">
              </el-pagination>
            </el-col>
          </el-row>
        </div>

      </div>
    </div>
  </div>


  <!--我要投标界面-->
  <div>
    <el-dialog title="我要投标" :visible.sync="editFormVisible" :close-on-click-modal="false">

      <el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">
        <el-form-item label="项目名" prop="BIDPROJECT">
          <el-input v-model="editForm.BIDPROJECT" auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="截止日期" prop="BIDDEADDATE">
          <el-date-picker type="date" placeholder="选择日期" :disabled="true" v-model="editForm.BIDDEADDATE" value-format="yyyy-MM-dd"></el-date-picker>
        </el-form-item>
        <el-form-item label="回款期数" prop="BIDDEADLINE">
          <el-input v-model="editForm.BIDDEADLINE" auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="可投金额" prop="BIDENDMONEY">
          <el-input v-model="editForm.BIDENDMONEY" auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="还款利率" prop="BIDRATE">
          <el-input v-model="editForm.BIDRATE" auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="我要投" prop="BIDAMOUNT">
          <el-input v-model="editForm.BIDAMOUNT" auto-complete="off" @blur="canMoney" ></el-input>
        </el-form-item>
        <el-form-item label="支付密码" prop="TRANSACTIONPASSWORD">
          <el-input v-model="editForm.TRANSACTIONPASSWORD" auto-complete="off" type="password" ></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native="editFormVisible = false">取消</el-button>
        <el-button type="primary" v-if="isDisabled" disabled @click.native="editSubmit" :loading="editLoading">提交</el-button>
        <el-button type="primary" v-else="!isDisabled" @click.native="editSubmit" :loading="editLoading">提交</el-button>
      </div>
    </el-dialog>
  </div>
</div>


<!--网站底部-->
<div id="footer" class="ft">
  <div class="ft-inner clearfix">
    <div class="ft-helper clearfix">
      <dl>
        <dt>关于我们</dt>
        <dd><a href="公司简介.html">公司简介</a><a href="管理团队.html">管理团队</a><a href="网站公告.html">网站公告</a></dd>
      </dl>
      <dl>
        <dt>相关业务</dt>
        <dd><a href="list.html">我要投资</a><a href="我要借款.html">我要借款</a></dd>
      </dl>
      <dl>
        <dt>帮助中心</dt>
        <dd><a href="帮助中心.html">新手入门</a><a href="个人中心首页.html">我的账户</a><a href="list.html">债权转让</a></dd>
      </dl>
      <dl>
        <dt>联系我们</dt>
        <dd><a href="联系我们.html">联系我们</a></dd>
      </dl>
    </div>
    <div class="ft-service">
      <dl>
        <dd>
          <p><strong>400-660-1268</strong><br>
            工作日 9:00-22:00<br>
            官方交流群:<em>12345678</em><br>
            工作日 9:00-22:00 / 周六 9:00-18:00<br>
          </p>
          <div class="ft-serv-handle clearfix"><a class="icon-hdSprite icon-ft-sina a-move a-moveHover" title="亿人宝新浪微博" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-qqweibo a-move a-moveHover" title="亿人宝腾讯微博" target="_blank" href="#"></a><a class="icon-ft-qun a-move a-moveHover" title="亿人宝QQ群" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-email a-move a-moveHover mrn" title="阳光易贷email" target="_blank" href="mailto:xz@yirenbao.com"></a></div>
        </dd>
      </dl>
    </div>
    <div class="ft-wap clearfix">
      <dl>
        <dt>官方二维码</dt>
        <dd><span class="icon-ft-erweima"><img src="../foreground/images/code.png" style="display: inline;"></span></dd>
      </dl>
    </div>
  </div>
  <div class="ft-record">
    <div class="ft-approve clearfix"><a class="icon-approve approve-0 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-1 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-2 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-3 fadeIn-2s" target="_blank" href="#"></a></div>
    <div class="ft-identity">©2015 亿人宝 All rights reserved&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;安徽省亿人宝投资管理有限公司&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/">皖ICP备12345678号-1</a></div>
  </div>
</div>

<!--vue-->
<script type="text/javascript">

    var personaldetails = new Vue({
        el: '#personaldetails',
        data: {
            isDisabled:false,
            bidid:'',
            //列表数据
            tableData: [],
            //显示加载中样式
            loading:false,
            //搜索表单(模糊查询)
            searchForm: {
                bidid: '',//标的编号
                userid: '',//用户信息表id
                auditid:'',//标审核表id
                bidproject:'',//招标项目
                bidamount:'',//招标金额
                bidcurrentamount:'',//已投标金额
                bidschedule:'',//招标进度
                bidrepaymentmethod:'',//还款方式
                bidrate:'',//还款利率
                biddeadline:'',//还款期限
                bidissuedate:'',//开始招标时间
                biddeadday:'',//招标天数
                biddeaddate:'',//招标结束时间
                biddesc:''//借款描述
            },
            //当前页
            currentPageA:1,
            currentPageB:1,
            //分页大小
            pageSizeA:10,
            pageSizeB:10,
            //总记录数
            totalA:0,
            totalB:0,

            //编辑界面是否显示
            editFormVisible: false,
            editLoading: false,
            goUrl:'',
            editFormRules: {
                BIDAMOUNT: [{ required: true, message: '请输入要投金额', trigger: 'blur' }],
                TRANSACTIONPASSWORD: [{ required: true, message: '请输入六位支付密码', trigger: 'blur' }]
            },
            //编辑界面数据
            editForm:{
                BIDPROJECT: '',
                BIDRATE:'',
                BIDDEADDATE: '',
                BIDENDMONEY: '',
                BIDAMOUNT:'',
                BIDDEADLINE:'',
                TRANSACTIONPASSWORD:''
            },
        },

        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            /* 用途: 接收地址栏参数 取id=1 根据ID的值 */
            var urlinfo=window.location.href; //获取当前页面的url
            var len=urlinfo.length;//获取url的长度
            var offset=urlinfo.indexOf("?");//设置参数字符串开始的位置
            var bididinfo=urlinfo.substr(offset,len);//取出参数字符串 这里会获得类似“id=1”这样的字符串
            var bidids=bididinfo.split("=");//对获得的参数字符串按照“=”进行分割
            var bidid=bidids[1];//得到参数值
            this.bidid=bidid;
            /*alert("URL:"+urlinfo+"长度："+len+"--开始位置："+offset+"--字符串："+newsidinfo+
                           "--分割："+newsids+"--参数："+newsid+"--名字："+newsname);*/


            /*项目详情列表：标信息模块*/
            $.ajax({
                url: "/infor/list",
                async:false,//同步
                data:{bidid:bidid},
                type:"post",
                dataType:"json",
                success: function(data){
                    $('#detail').empty();
                    var str="";
                    if(data!=null){

                        str="<div class='hd'><h2>"+data[0].BIDPROJECT+"</h2></div>\n" +
                            "<div class='bd clearfix'><div class='data'>" +
                            "<ul>" +
                            "   <li><span class='f16'>借款金额</span><br>" +
                            "       <span class='f30 c-333' id='account'>"+data[0].BIDAMOUNT+"</span>元 </li>" +
                            "   <li class='relative'><span class='f16'>年利率</span><br>\n" +
                            "       <span class='f30 c-orange'>"+data[0].BIDRATE+" </span>% </li>\n" +
                            "   <li><span class='f16'>借款期限</span><br>\n" +
                            "       <span class='f30 c-333'>"+data[0].BIDDEADLINE+"</span>个月</li>\n" +
                            "   <li><span class='c-888'>借款编号：</span>"+data[0].BIDID+"</li>\n" +
                            "   <li><span class='c-888'>发标日期： </span>"+data[0].BIDISSUEDATE+"</li>\n" +
                            /*"   <li><span class='c-888'>保障方式：</span>100%本息垫付</li>\n" +*/
                            "   <li><span class='c-888'>还款方式：</span>"+data[0].BIDREPAYMENTMETHOD+"</li>\n" +
                            "   <li><span class='c-888'>借款用途：</span>"+data[0].BIDDESC+"</li>" +
                            "   <li class='colspan'> <span class='c-888 fl'>投标进度:</span>\n" +
                            " <div class='progress-bar fl'> <span style='width:"+data[0].BIDSCHEDULE+"  '></span> </div>\n" +
                            "       <span class='c-green'>"+data[0].BIDSCHEDULE+"</span> </li>\n" +
                            /*"   <li> <span class='c-888'>投资范围：</span> <span id='account_range'> 50元~不限 </span> </li>" +*/
                            "</ul></div>" +
                            "<div class='mod-right mod-status'>\n" +
                            "   <div class='inner'>\n" +
                            "   <div class='text'> " +
                            "         截止日期：<span class='f24 c-333' style='font-size:14px'>"+data[0].BIDDEADDATE+"</span><br>" +
                            "         剩余期限：<span class='f24 c-333'>"+data[0].BIDENDDAY+"</span>天<br>\n" +
                            "         可投金额：<span class='f24 c-333'>"+data[0].BIDENDMONEY+"</span>元<br>\n" +
                            "         <ul><li class='col-120-2'>\n" +
                            "             <a class='ui-btn btn-gray'  href='javascript:void(0);' @click='editClick()'>我要投标</a>" +
                            "         </li></ul>\n" +
                            "   </div>" +
                            "</div></div>"
                    }
                    $('#detail').append(str);

                },
                error : function(data) {
                    alert(data);
                }
            })

            /*项目详情列表：借款人信息*/
            $.ajax({
                url: "/infor/userList",
                async:false,//同步
                data:{bidid:bidid},
                type:"post",
                dataType:"json",
                success: function(data){
                    //alert(JSON.stringify(data));
                    $('#borrowermessage').empty();
                    var str="";
                    if(data!=null){
                        str=
                            /*<!--导航：借款人介绍-->*/
                            " <div class='borrow-info'>" +
                            "     <dl class='item'>" +
                            "         <dt>" +
                            "             <h3>借款人介绍</h3>" +
                            "         </dt>" +
                            "         <dd>" +
                            "             <div class='text'>" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 借款人信息介绍：</p>\n" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> "+data[0].REALNAME+","+data[0].ACADEMIC+"学历，"+data[0].MARRIAGE+"，现居住于"+data[0].ADDRESS+"。</p>\n" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 借款人工作情况：</p>\n" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 赵女士为成都某服装店老板，月收入"+data[0].INCOME+"元，收入居住稳定。</p>\n" +
                            /*"                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 借款人资产介绍：</p>\n" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 赵女士有<span>1</span>辆全款长安福特福克斯汽车。</p>\n" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 详细资金用途：</p>\n" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 借款人申请汽车质押贷款，贷款用于资金周转。</p>" +*/
                            "             </div>" +
                            "         </dd>" +
                            "     </dl>" +
                            "     <dl class='item'>" +
                            "         <dt>" +
                            "             <h3>审核信息</h3>" +
                            "         </dt>" +
                            "         <dd>" +
                            "             <div class='verify clearfix'>" +
                            "                 <ul>" +
                            "                     <li><i class='icon icon-4'></i><br>身份证</li>" +
                            "                     <li><i class='icon icon-5'></i><br>户口本</li>" +
                            "                     <li><i class='icon icon-6'></i><br>结婚证</li>" +
                            "                     <li><i class='icon icon-7'></i><br>工作证明</li>" +
                            "                     <li><i class='icon icon-8'></i><br>工资卡流水</li>" +
                            "                     <li><i class='icon icon-9'></i><br>收入证明</li>" +
                            "                     <li><i class='icon icon-10'></i><br>征信报告</li>" +
                            "                     <li><i class='icon icon-11'></i><br>亲属调查</li>" +
                            /*"                     <li><i class='icon icon-19'></i><br>行驶证</li>" +
                            "                     <li><i class='icon icon-20'></i><br>车辆登记证</li>" +
                            "                     <li><i class='icon icon-21'></i><br>车辆登记发票</li>" +
                            "                     <li><i class='icon icon-22'></i><br>车辆交强险</li>" +
                            "                     <li><i class='icon icon-23'></i><br>车辆商业保险</li>" +
                            "                     <li><i class='icon icon-24'></i><br>车辆评估认证</li>" +*/
                            "                 </ul>" +
                            "             </div>" +
                            "         </dd>" +
                            "     </dl>" +
                            "     <dl class='item'>" +
                            "         <dt>" +
                            "             <h3>风控步骤</h3>" +
                            "         </dt>" +
                            "         <dd>" +
                            "             <div class='text'>" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 调查：风控部对借款人各项信息进行了全面的电话征信，一切资料真实可靠。</p>" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 抵押物：全款长安福特福克斯汽车，车牌号：川<span>AYY***</span>，新车购买于2013年，裸车价14万，评估价5万</p>" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 权证：汽车已入库、已办理相关手续等。</p>" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 担保：质押物担保。</p>" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 结论：此客户为老客户，上笔贷款4万元，标的号为20150745682已结清，现因资金周转，再次申请贷款。借款人居住稳定，收入来源可靠，经风控综合评估，同意放款4万元</p>" +
                            "                 <p class='MsoNormal' style='margin-left:0cm;text-indent:0cm;'> 保障：借款逾期48小时内，易贷风险准备金先行垫付。</p>" +
                            "             </div>" +
                            "             <div class='step clearfix'>" +
                            "                 <ul>" +
                            "                   <li><i class='icon icon-1'></i>资料审核</li>" +
                            "                   <li><i class='icon icon-2'></i>实地调查</li>" +
                            "                   <li><i class='icon icon-3'></i>资产评估</li>" +
                            "                   <li class='no'><i class='icon icon-4'></i>发布借款</li>" +
                            "                 </ul>" +
                            "             </div>" +
                            "             <div class='conclusion f16'> 结论：经风控部综合评估， " +
                            "                   <span class='c-orange'>同意放款！</span> " +
                            "                   <i class='icon icon-status icon-status1'></i> " +
                            "             </div>" +
                            "         </dd>" +
                            "     </dl>" +
                            "     <dl class='item'>" +
                            "         <dt>" +
                            "             <h3>权证信息</h3>" +
                            "         </dt>" +
                            "         <dd>" +
                            "             <div class='warrant'> <span class='f14 c-888'>（注：为保护借款人的个人隐私信息，实物材料对部分信息进行了隐藏处理）</span>" +
                            "                 <div class='album' id='album'>" +
                            "                     <div class='album-show'><div class='loading' style='display: none;'></div><img src='../foreground/images/news.jpg'></div>" +
                            "                     <div class='album-thumb'> <a href='javascript:;' class='btn btn-prev'></a> <a href='javascript:;' class='btn btn-next'></a>" +
                            "                         <div style='visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 1070px;' class='container' id='albumThumb'>" +
                            "                             <ul style='margin: 0px; padding: 0px; position: relative; list-style-type: none; z-index: 1; width: 1926px; left: 0px;'>" +
                            "                             <li style='overflow: hidden; float: left; width: 164px; height: 108px;'><a class='small_img' id='../foreground/images/news.jpg'><img src='../foreground/images/news.jpg'></a></li>" +
                            "                             <li style='overflow: hidden; float: left; width: 164px; height: 108px;'><a class='small_img' id='../foreground/images/news.jpg'><img src='../foreground/images/news.jpg'></a></li>" +
                            "                             <li style='overflow: hidden; float: left; width: 164px; height: 108px;'><a class='small_img' id='../foreground/images/yue.jpg'><img src='../foreground/images/yue.jpg'></a></li>" +
                            "                             <li style='overflow: hidden; float: left; width: 164px; height: 108px;'><a class='small_img' id='../foreground/images/news.jpg'><img src='../foreground/images/news.jpg'></a></li>" +
                            "                             <li style='overflow: hidden; float: left; width: 164px; height: 108px;'><a class='small_img' id='../foreground/images/news.jpg'><img src='../foreground/images/news.jpg'></a></li>" +
                            "                             </ul>" +
                            "                         </div>" +
                            "                     </div>" +
                            "                 </div>" +
                            "             </div>" +
                            "         </dd>" +
                            "     </dl>" +
                            " </div>"
                    }
                    $('#borrowermessage').append(str);

                },
                error : function(data) {
                    alert("借款人信息错误");
                }
            })

            /*项目详情列表：标投资记录*/
            $.ajax({
                url: "/infor/userInvest",
                async:false,//同步
                data:{start:this.currentPageA,end:this.pageSizeA,bidid:bidid},
                type:"post",
                dataType:"json",
                success: function(data){
                    $('.investor').empty();
                    var str="";
                    if(data!=null){
                        for (var i = 0; i < data.page.list.length; i++) {
                            str+=
                                /*<!--导航：投资记录-->*/
                                "           <tr>" +
                                "             <td>"+data.page.list[i].USERID+"</td>" +
                                "             <td><span class='c-orange'>￥"+data.page.list[i].BIDAMOUNT+"</span></td>" +
                                "             <td>"+data.page.list[i].BIDDATE+"</td>" +
                                "           </tr>"
                        }
                        self.totalA=data.page.total;
                    }
                    $('.investor').append(str);

                },
                error : function(data) {
                    alert("投资列表错误");
                }
            })

            /*项目详情列表：还款记录表*/
            $.ajax({
                url: "/infor/refundRecord",
                async:false,//同步
                data:{start:this.currentPageB,end:this.pageSizeB,bidid:bidid},
                type:"post",
                dataType:"json",
                success: function(data){
                    $('.refund').empty();
                    var str="";
                    if(data!=null){
                        for (var i = 0; i < data.page.list.length; i++) {
                            str+=
                                /*<!--导航：还款列表-->*/
                                "           <tr>" +
                                "             <td>"+data.page.list[i].BIDREPAYDATE+"</td>" +
                                "             <td>"+data.page.list[i].BIDREPAYDEADDATE+"</td>" +
                                "             <td>"+data.page.list[i].BIDREPAYTOTPMTS+"</td>" +
                                "             <td>"+data.page.list[i].BIDREPAYNUMBER+"</td>" +
                                "             <td>"+data.page.list[i].BIDREPAYAMOUNT+"元</td>" +
                                "             <td>"+data.page.list[i].BIDREPAYSTATE+"</td>" +
                                "           </tr>"
                        }
                        self.totalB=data.page.total;
                    }
                    $('.refund').append(str);

                },
                error : function(data) {
                    alert("还款列表错误");
                }
            })


        },

        methods:{
            //表格编辑事件
            editClick:function() {
                var bidid = this.bidid;
                var _self = this;
                _self.editFormVisible = true;
                axios.post("/infor/tender",{bidid:bidid}).then(function(response) {
                    //alert(JSON.stringify(response.data));
                    if(response.data!=null&&response.data!=''){
                        if(response.data==-1){
                            _self.$message({
                                message:'请在登录后进行投标操作',
                                type: 'error'
                            });
                            _self.editFormVisible = false;
                        }
                        _self.editForm = response.data;
                    }
                })

            },
            //保存点击事件
            editSubmit:function(){
                var _self = this;
                _self.loading = true;
                var formData =this.editForm;
                //alert(JSON.stringify(formData));
                axios.post("/infor/bidSubmit",formData).then(function(response){
                    // console.log(response.data);
                    // alert(222);
                    // self.total=response.data.total;
                    if(response.data>0){
                        _self.editFormVisible = false;
                        _self.$message({
                            message:  '恭喜您，投资成功！',
                            type: 'success'
                        });

                        console.info(this.editForm);//关闭编辑窗口
                        setTimeout(function () { //间隔刷新
                            window.location.href=window.location.href;//保存后刷新页面
                        },500)

                    }else if (response.data=0){
                        _self.$message({
                            message:  '账户余额不足',
                            type: 'error'
                        });
                    }else{
                        _self.$message({
                            message:  '支付密码错误',
                            type: 'error'
                        });
                    }

                })
                /*console.info(this.editForm);
                setTimeout(function () { //间隔刷新
                    window.location.href=window.location.href;//保存后刷新页面
                },500)
*/
            },
            //判断可投金额事件
            canMoney:function () {
                var _self = this;
                _self.loading = true;
                axios.post("/infor/canMoney",{'BIDID':this.bidid,'BIDAMOUNT':this.editForm.BIDAMOUNT}).then(function (response) {
                    if (response.data==1){
                        _self.isDisabled=false;
                        _self.$message({
                            message:  '亲，输入密码后就可以投资啦^_^',
                            type: 'success'
                        });
                    }else{
                        _self.isDisabled=true;
                        _self.$message({
                            message:  '输入金额不在投资范围内，请重新输入',
                            type: 'error'
                        });
                    }
                })
            },

            //投资人列表重新加载数据
            loadingDataA:function() {
                var _self = this;
                _self.loading = true;
                var self = this;
                $.ajax({
                    url: "/infor/userInvest",
                    async:false,//同步
                    data:{start:this.currentPageA,end:this.pageSizeA,bidid:this.bidid},
                    type:"post",
                    dataType:"json",
                    success: function(data){
                        $('.investor').empty();
                        var str="";
                        if(data!=null){
                            for (var i = 0; i < data.page.list.length; i++) {
                                str+=
                                    /*<!--导航：投资记录-->*/
                                    "           <tr>" +
                                    "             <td>"+data.page.list[i].REALNAME+"</td>" +
                                    "             <td><span class='c-orange'>￥"+data.page.list[i].BIDAMOUNT+"</span></td>" +
                                    "             <td>"+data.page.list[i].BIDDATE+"</td>" +
                                    "           </tr>"
                            }
                            self.totalA=data.page.total;
                        }
                        $('.investor').append(str);

                    },
                    error : function(data) {
                        alert("投资列表错误");
                    }
                })
            },
            //还款列表重新加载数据
            loadingDataB:function() {
                var _self = this;
                _self.loading = true;
                var self = this;
                $.ajax({
                    url: "/infor/refundRecord",
                    async:false,//同步
                    data:{start:this.currentPageB,end:this.pageSizeB,bidid:this.bidid},
                    type:"post",
                    dataType:"json",
                    success: function(data){
                        $('.refund').empty();
                        var str="";
                        if(data!=null){
                            for (var i = 0; i < data.page.list.length; i++) {
                                str+=
                                    /*<!--导航：还款列表-->*/
                                    "           <tr>" +
                                    "             <td>"+data.page.list[i].BIDREPAYDATE+"</td>" +
                                    "             <td>"+data.page.list[i].BIDREPAYDEADDATE+"</td>" +
                                    "             <td>"+data.page.list[i].BIDREPAYTOTPMTS+"</td>" +
                                    "             <td>"+data.page.list[i].BIDREPAYNUMBER+"</td>" +
                                    "             <td>"+data.page.list[i].BIDREPAYAMOUNT+"元</td>" +
                                    "             <td>"+data.page.list[i].BIDREPAYSTATE+"</td>" +
                                    "           </tr>"
                            }
                            self.totalB=data.page.total;
                        }
                        $('.refund').append(str);

                    },
                    error : function(data) {
                        alert("还款列表错误");
                    }
                })
            },


            //投资分页大小修改事件
            pageSizeChangeA:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSizeA = val;
                var _self = this;
                _self.loadingDataA();//重新加载数据
            },
            //投资当前页修改事件
            currentPageChangeA:function(val) {
                this.currentPageA = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingDataA();//重新加载数据
            },
            //还款分页大小修改事件
            pageSizeChangeB:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSizeB = val;
                var _self = this;
                _self.loadingDataB();//重新加载数据
            },
            //还款  当前页修改事件
            currentPageChangeB:function(val) {
                this.currentPageB = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingDataB();//重新加载数据
            },
        }

    })
</script>
</body>
</html>
