<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>p2p网贷平台</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="../foreground/css/common.css" rel="stylesheet" />
  <link href="../foreground/css/index.css" rel="stylesheet" type="text/css">
  <link href="../foreground/css/detail.css" rel="stylesheet" type="text/css">
  <link href="../foreground/css/borrower.css" rel="stylesheet">
  <link href="../foreground/css/base.css" rel="stylesheet">
  <link href="../foreground/css/lender.css" rel="stylesheet">
  <!-- 引入样式 -->
  <script type="text/javascript" src="../js/vue.js"></script>
  <script type="text/javascript" src="../js/axios.min.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="/elementui/elementui.css">
  <!-- 引入组件库 -->
  <script src="/elementui/elementui.js"></script>
  <script type="text/javascript" src="../foreground/script/jquery.min.js"></script>
  <script type="text/javascript" src="../foreground/script/common.js"></script>
  <style type="text/css">
    .ss{
      width: 20%;
    }
  </style>
</head>

<body>
<header>
  <div class="header-top min-width" >
    <div class="container fn-clear"> <strong class="fn-left">咨询热线：400-668-6698<span class="s-time">服务时间：9:00 - 18:00</span></strong>
      <ul class="header_contact">
        <li class="c_1"> <a class="ico_head_weixin" id="wx"></a>
          <div class="ceng" id="weixin_xlgz" style="display: none;">
            <div class="cnr"> <img src="../foreground/images/code.png"> </div>
            <b class="ar_up ar_top"></b> <b class="ar_up_in ar_top_in"></b> </div>
        </li>
        <li class="c_2"><a href="#" target="_blank" title="官方QQ" alt="官方QQ"><b class="ico_head_QQ"></b></a></li>
        <li class="c_4"><a href="#" target="_blank" title="新浪微博" alt="新浪微博"><b class="ico_head_sina"></b></a></li>
      </ul>
      <ul class="fn-right header-top-ul">
        <!--用户名为空-->
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="/goto/register" class="" title="免费注册" >免费注册</a>
          </div>
        </li>
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="/user/toLogin" class="js-login" title="登录" >登录</a>
          </div>
        </li>
        <!--用户名不为空-->
        <li th:if="${session.userName} ne null">
          <div class="">
            <span th:text="欢迎您 "></span>
            <span th:text="${session.userName}"></span>
          </div>
        </li>
        <li th:if="${session.userName} ne null">
          <div class="" >
            <a href="/user/toLogin" class="js-login" title="退出">退出</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="header min-width">
    <div class="container">
      <div class="fn-left logo"> <a class="" href="/goto/index"> <img src="../foreground/images/logo.png" title=""> </a> </div>
      <ul class="top-nav fn-clear">
        <li > <a href="/goto/index">首页</a> </li>
        <li > <a href="/goto/list" class="">我要投资</a> </li>
        <li class="on"> <a href="/goto/rent">我要融资</a> </li>
        <li> <a href="/goto/helpInfo">安全保障</a> </li>
        <li class="top-nav-safe"> <a href="/user/toOwn">我的账户</a> </li>
        <li> <a href="/goto/comInfo">关于我们</a> </li>
      </ul>
    </div>
  </div>
</header>
<!--列表-->
<div class="" style="float:right;width:1300px;background-color:#fff;padding-top:20px;height:auto">
  <input type="hidden" name="yrd_token" value="KK37ZUJZY3B62WTI3BTIGE7XZEXCY6XG">

  <div>

    <div id="diva">
      <el-form  :model="dataForm"    ref="dataForm" status-icon :rules="rules" label-width="200px">
        <el-row>
          <el-col :span="6" >
            <el-form-item label="真实姓名:" prop="REALNAME">
              <el-input v-model="dataForm.REALNAME"   placeholder="请输入你的真实姓名" style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="性别:" prop="GENDER">
              <el-select v-model="dataForm.GENDER" placeholder="性别" style="width:150px">
                <el-option label="请选择" value=""></el-option>
                <el-option label="男" value="男"></el-option>
                <el-option label="女" value="女"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="现住地址:"  prop="sheng1">
              <el-row style="width:360px">
                <el-col :span="6">
                  <el-select v-model="dataForm.sheng1" @change="choseProvince($event,1)" placeholder="省级地区" style="width:90px" >
                    <el-option
                            v-for="item in province"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="dataForm.shi1" @change="choseCity($event,1)" placeholder="市级地区" style="width:90px">
                    <el-option
                            v-for="item in shi1"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="dataForm.qu1" @change="choseBlock($event,1)" placeholder="区级地区" style="width:90px">
                    <el-option
                            v-for="item in qu1"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="6">
                  <el-input v-model="dataForm.address"   placeholder="门牌号"  style="width:120px"></el-input>
                </el-col>
              </el-row>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="邮箱:" prop="EMAIL">
              <el-input v-model="dataForm.EMAIL"   placeholder="请输入你的邮箱" style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="身份证号:" prop="IDCARD">
              <el-input v-model="dataForm.IDCARD"   placeholder="请输入你的身份证号" style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="最高学历:" prop="MAXEDUCATION">
              <el-select v-model="dataForm.MAXEDUCATION" placeholder="学历" style="width:150px">
                <el-option label="全部" value="0"></el-option>
                <el-option label="初中" value="初中"></el-option>
                <el-option label="高中" value="高中"></el-option>
                <el-option label="中专" value="中专"></el-option>
                <el-option label="大专" value="大专"></el-option>
                <el-option label="本科" value="本科"></el-option>
                <el-option label="硕士" value="硕士"></el-option>
                <el-option label="博士" value="博士"></el-option>
                <el-option label="博士后" value="博士后"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="住房:" prop="HOUSE" >
              <el-select v-model="dataForm.HOUSE" placeholder="房产" style="width:150px">
                <el-option label="请选择" value=""></el-option>
                <el-option label="有房有房贷" value="有房有房贷"></el-option>
                <el-option label="有房无房贷" value="有房无房贷"></el-option>
                <el-option label="无房" value="无房"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item   label="婚姻状况:" prop="MARRIAGE">
              <el-select v-model="dataForm.MARRIAGE" placeholder="婚姻" style="width:150px">
                <el-option label="请选择" value=""></el-option>
                <el-option label="未婚" value="未婚"></el-option>
                <el-option label="离异" value="离异"></el-option>
                <el-option label="丧偶" value="丧偶"></el-option>
                <el-option label="已婚有子" value="已婚有子"></el-option>
                <el-option label="已婚无子" value="已婚无子"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="年收入:" prop="INCOME">
              <el-input v-model="dataForm.INCOME"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="工作单位性质:" prop="JOBTYPE">
              <el-select v-model="dataForm.JOBTYPE" placeholder="工作单位性质" style="width:150px">
                <el-option label="请选择" value=""></el-option>
                <el-option label="机关及事业单位" value="机关及事业单位"></el-option>
                <el-option label="国营" value="国营"></el-option>
                <el-option label="三资企业" value="三资企业"></el-option>
                <el-option label="民营" value="民营"></el-option>
                <el-option label="其他" value="其他"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="工作单位:" prop="COMNAME">
              <el-input v-model="dataForm.COMNAME"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" >
            <el-form-item label="本单位入职时间:" prop="JOINTIME">
              <el-date-picker type="date" value-format="yyyy-MM-dd "  style="width:150px" placeholder="选择日期" v-model="dataForm.JOINTIME"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6"   class="ss">
            <el-form-item label="家庭联系人:" prop="FAMILYNAME">
              <el-input v-model="dataForm.FAMILYNAME"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6"  class="ss">
            <el-form-item label="关系:" prop="FAMILYRELATIONSHIP">
              <el-input v-model="dataForm.FAMILYRELATIONSHIP"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6"  class="ss">
            <el-form-item label="电话:" prop="FAMILYTEL">
              <el-input v-model="dataForm.FAMILYTEL"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6"  class="ss">
            <el-form-item label="现住地址:"  prop="sheng2">
              <el-row style="width:400px">
                <el-col :span="6">
                  <el-select v-model="dataForm.sheng2" @change="choseProvince($event,2)" placeholder="省级地区" style="width:100px" >
                    <el-option
                            v-for="item in province"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="dataForm.shi2" @change="choseCity($event,2)" placeholder="市级地区" style="width:100px">
                    <el-option
                            v-for="item in shi1"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="dataForm.qu2" @change="choseBlock($event,2)" placeholder="区级地区" style="width:100px">
                    <el-option
                            v-for="item in qu1"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
              </el-row>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6" class="ss">
            <el-form-item label="工作联系人:">
              <el-input v-model="dataForm.JOBCONTACTNAME"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="ss">
            <el-form-item label="关系:">
              <el-input v-model="dataForm.JOBRELATIONSHIP"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="ss">
            <el-form-item label="电话:" >
              <el-input v-model="dataForm.JOBTEL"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="ss">
            <el-form-item label="现住地址:" >
              <el-row style="width:400px">
                <el-col :span="6">
                  <el-select v-model="dataForm.sheng3" @change="choseProvince($event,3)" placeholder="省级地区" style="width:100px">
                    <el-option
                            v-for="item in province"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="dataForm.shi3" @change="choseCity($event,3)" placeholder="市级地区" style="width:100px">
                    <el-option
                            v-for="item in shi1"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="dataForm.qu3" @change="choseBlock($event,3)" placeholder="区级地区" style="width:100px">
                    <el-option
                            v-for="item in qu1"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
              </el-row>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6" class="ss">
            <el-form-item label="其他联系人:" >
              <el-input v-model="dataForm.OTHERNAME"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="ss">
            <el-form-item label="关系:" >
              <el-input v-model="dataForm.OTHERRELATIONSHIP"    style="width:150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="ss">
            <el-form-item label="电话:" >
              <el-input v-model="dataForm.OTHERTEL"    style="width: 150px"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6" >
            <el-form-item label="现住地址:"  >
              <el-row style="width:400px">
                <el-col :span="6">
                  <el-select v-model="dataForm.sheng4" @change="choseProvince($event,4)" placeholder="省级地区" style="width:100px" >
                    <el-option
                            v-for="item in province"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="dataForm.shi4" @change="choseCity($event,4)" placeholder="市级地区" style="width:100px">
                    <el-option
                            v-for="item in shi1"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
                <el-col :span="6">
                  <el-select v-model="dataForm.qu4" @change="choseBlock($event,4)" placeholder="区级地区" style="width:100px">
                    <el-option
                            v-for="item in qu1"
                            :key="item.id"
                            :label="item.value"
                            :value="item.id">
                    </el-option>
                  </el-select>
                </el-col>
              </el-row>
            </el-form-item>
          </el-col>
        </el-row>
        <center>
          <template >
            <el-button :plain="true" type="primary" size="small"  @click="back">上一步</el-button>
            <el-button :plain="true" type="primary" size="small"  @click="nextin('dataForm')">下一步，填写详细信息</el-button>
          </template>
        </center>
      </el-form>
    </div>
  </div>
  <p class="loanApplicationNote"><span>亿人宝平台会严格保障您的隐私安全，请放心填写</span></p>
</div>
<!-- 借款人 左侧小菜单  -->
<div class="lend-left-menu">
  <a href="/goto/rentInfo" >
    <span class="lend-menuIcon menuIcon-lendInfo png"></span>借款信息
    <span class="completed png"></span>
  </a>
  <a href="/goto/rentInfo1" class="selected">
    <span class="lend-menuIcon menuIcon-detialInfo png"></span>详细信息
  </a>
  <a href="#">
    <span class="lend-menuIcon menuIcon-uploadInfo png"></span>上传资料
  </a>
  <div class="loanApplicationMenuTxt">

    为了尽快成功借款，请确保信息的真实性，我们将会对您填写的信息进行核实，一旦发现虚假信息将取消您的借款资格。
  </div>
</div>
<script type="text/javascript">
    var vm=new Vue({
        el: "#diva",
        data(){

            var checkEmail = (rule, value, callback) => {
                var reg=/^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
                if (!value) {
                    callback(new Error('邮箱不能为空'));
                } else {
                    if (!reg.test(value)) {
                        callback(new Error('格式错误'));
                    }
                    callback();
                }
            };
            var checkIdcard = (rule, value, callback) => {
                var reg=/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
                if (!value) {
                    callback(new Error('身份证不能为空'));
                } else {
                    if (!reg.test(value)) {
                        callback(new Error('格式错误'));
                    }
                    callback();
                }
            };
            var checkIncome = (rule, value, callback) => {
                var reg=/^[1-9]\d*$/;
                if (!value) {
                    callback(new Error('年收入不能为空'));
                } else {
                    if (!reg.test(value)) {
                        callback(new Error('请输入正整数'));
                    }
                    callback();
                }
            };
            var checkFamilytel= (rule, value, callback) => {
                var reg=/^1(3|4|5|7|8)\d{9}$/;
                if (!value) {
                    callback(new Error('请填写电话'));
                } else {
                    if (!reg.test(value)) {
                        callback(new Error('格式错误'));
                    }
                    callback();
                }
            };

            return {
                mapJson:'../login/map.json',
                province:[],
                sheng: '',
                shi: '',
                shi1: [],
                qu: '',
                qu1: [],
                city:'',
                block:'',
                loading: true,
                options: [],
                dataForm: {
                    REALNAME:"",
                    GENDER:"",
                    ADDRESS:[],
                    EMAIL:"",
                    IDCARD:"",
                    MAXEDUCATION:"",
                    HOUSE:"",
                    MARRIAGE:"",
                    INCOME:"",
                    JOBTYPE:"",
                    COMNAME:"",
                    JOINTIME:"",
                    FAMILYNAME:"",
                    FAMILYRELATIONSHIP:"",
                    FAMILYTEL:"",
                    JOBCONTACTNAME:"",
                    JOBRELATIONSHIP:"",
                    JOBTEL:"",
                    OTHERNAME:"",
                    OTHERRELATIONSHIP:"",
                    OTHERTEL:"",
                    sheng1: '',
                    shi1: '',
                    qu1: '',
                    sheng2: '',
                    shi2: '',
                    qu2: '',
                    sheng3: '',
                    shi3: '',
                    qu3: '',
                    sheng4: '',
                    shi4: '',
                    qu4: '',
                    address:"",
                    addrA:"",
                    addrB:"",
                    addrC:"",
                    addrD:""
                },
                rules: {
                    REALNAME: [
                        { required: true, message: '请填写真实姓名', trigger: 'blur' }
                    ],
                    GENDER: [
                        { required: true, message: '请选择性别', trigger: 'blur' }
                    ],
                    sheng1: [
                        { required: true, message: '请选择住址', trigger: 'blur' }
                    ],
                    EMAIL: [
                        { validator: checkEmail, trigger: 'blur' }
                    ],
                    IDCARD: [
                        { validator: checkIdcard, trigger: 'blur' }
                    ],
                    MAXEDUCATION : [
                        { required: true, message: '请选择最高学历', trigger: 'blur' }
                    ],
                    HOUSE: [
                        { required: true, message: '请选择住房', trigger: 'blur' }
                    ],
                    MARRIAGE : [
                        { required: true, message: '请选择婚姻状况', trigger: 'blur' }
                    ],
                    INCOME: [
                        { validator: checkIncome, trigger: 'blur' }
                    ],
                    JOBTYPE: [
                        { required: true, message: '请选择工作单位性质', trigger: 'blur' }
                    ],
                    COMNAME: [
                        { required: true, message: '请填写工作单位', trigger: 'blur' }
                    ],
                    JOINTIME: [
                        { required: true, message: '请选择入职时间', trigger: 'blur' }
                    ],
                    FAMILYNAME: [
                        { required: true, message: '请填联系人', trigger: 'blur' }
                    ],
                    FAMILYRELATIONSHIP: [
                        { required: true, message: '请填写关系', trigger: 'blur' }
                    ],
                    FAMILYTEL: [
                        { validator: checkFamilytel, trigger: 'blur' }
                    ],
                    sheng2: [
                        { required: true, message: '请选择住址', trigger: 'blur' }
                    ],

                }
            };
        },
        created:function(){

            this.getCityData();
            var _self=this;
            axios.post('/rent/getInfo2').then(function(response){
                if(response.data.IDCARD!=null&&response.data.IDCARD!=''&&response.data.IDCARD!='null'){

                    _self.dataForm=response.data;
                    _self.dataForm.addrA=_self.dataForm.sheng1+_self.dataForm.shi1+_self.dataForm.qu1;
                    _self.dataForm.addrB=_self.dataForm.sheng2+_self.dataForm.shi2+_self.dataForm.qu2;
                    _self.dataForm.addrC=_self.dataForm.sheng3+_self.dataForm.shi3+_self.dataForm.qu3;
                    _self.dataForm.addrD=_self.dataForm.sheng4+_self.dataForm.shi4+_self.dataForm.qu4;
                }
                else{
                    axios.post('/rent/getInfo').then(function(response){
                        if(response.data.IDCARD!=null&&response.data.IDCARD!=''&&response.data.IDCARD!='null'){
                            _self.dataForm=response.data;
                            _self.dataForm.addrA=_self.dataForm.sheng1+_self.dataForm.shi1+_self.dataForm.qu1;
                            _self.dataForm.addrB=_self.dataForm.sheng2+_self.dataForm.shi2+_self.dataForm.qu2;
                            _self.dataForm.addrC=_self.dataForm.sheng3+_self.dataForm.shi3+_self.dataForm.qu3;
                            _self.dataForm.addrD=_self.dataForm.sheng4+_self.dataForm.shi4+_self.dataForm.qu4;
                        }else{
                            dataForm={
                                REALNAME:"",
                                GENDER:"",
                                ADDRESS:[],
                                EMAIL:"",
                                IDCARD:"",
                                MAXEDUCATION:"",
                                HOUSE:"",
                                MARRIAGE:"",
                                INCOME:"",
                                JOBTYPE:"",
                                COMNAME:"",
                                JOINTIME:"",
                                FAMILYNAME:"",
                                FAMILYRELATIONSHIP:"",
                                FAMILYTEL:"",
                                JOBCONTACTNAME:"",
                                JOBRELATIONSHIP:"",
                                JOBTEL:"",
                                OTHERNAME:"",
                                OTHERRELATIONSHIP:"",
                                OTHERTEL:"",
                                sheng1: '',
                                shi1: '',
                                qu1: '',
                                sheng2: '',
                                shi2: '',
                                qu2: '',
                                sheng3: '',
                                shi3: '',
                                qu3: '',
                                sheng4: '',
                                shi4: '',
                                qu4: '',
                                address:"",
                                addrA:"",
                                addrB:"",
                                addrC:"",
                                addrD:""
                            }
                        }

                    })

                }
            })

        },
        methods: {
            back:function () {
                location.href="/goto/rentInfo" ;
            },
            nextin(formName) {
                this.$refs[formName].validate((valid) => {
                    if(valid) {
                        var _self = this;
                        _self.loading = true;
                        var formData = this.dataForm;
                        // alert(JSON.stringify(formData));
                        var goUrl = '/rent/rentInfo2';
                        //alert(goUrl);
                        //alert(JSON.stringify(formData));
                        axios.post(goUrl, formData).then(function (response) {
                            // console.log(response.data);
                            // alert(222);
                            // self.total=response.data.total;
                            if (response.data > 0) {
                                location.href = "/goto/rentInfo2"
                            } else {
                                _self.$message({
                                    message: '操作失败',
                                    type: 'error'
                                });
                            }
                        })
                    }
                })
            },
            handleChange: function () {

            },
            getCityData: function () {
                var that = this;
                axios.get(this.mapJson).then(function (response) {
                    if (response.status == 200) {
                        var data = response.data
                        that.province = []
                        that.city = []
                        that.block = []
                        // 省市区数据分类
                        for (var item in data) {
                            if (item.match(/0000$/)) {//省
                                that.province.push({id: item, value: data[item], children: []})
                            } else if (item.match(/00$/)) {//市
                                that.city.push({id: item, value: data[item], children: []})
                            } else {//区
                                that.block.push({id: item, value: data[item]})
                            }
                        }
                        // 分类市级
                        for (var index in that.province) {
                            for (var index1 in that.city) {
                                if (that.province[index].id.slice(0, 2) === that.city[index1].id.slice(0, 2)) {
                                    that.province[index].children.push(that.city[index1])
                                }
                            }
                        }
                        // 分类区级
                        for (var item1 in that.city) {
                            for (var item2 in that.block) {
                                if (that.block[item2].id.slice(0, 4) === that.city[item1].id.slice(0, 4)) {
                                    that.city[item1].children.push(that.block[item2])
                                }
                            }
                        }
                    }
                    else {
                        console.log(response.status)
                    }
                }).catch(function (error) {
                    console.log(typeof+error)
                })
            },
            // 选省
            choseProvince: function (e, v) {

                for (var index2 in this.province) {
                    if (e === this.province[index2].id) {
                        if (v == 1) {
                            this.dataForm.sheng1 = "";
                            this.dataForm.sheng1 = this.province[index2].value;
                        } else if (v == 2) {
                            this.dataForm.sheng2 = "";
                            this.dataForm.sheng2 = this.province[index2].value;
                        } else if (v == 3) {
                            this.dataForm.sheng3 = "";
                            this.dataForm.sheng3 = this.province[index2].value;
                        } else if (v == 4) {
                            this.dataForm.sheng4 = "";
                            this.dataForm.sheng4 = this.province[index2].value;
                        }
                        this.shi1 = this.province[index2].children
                        this.shi = this.province[index2].children[0].value
                        this.qu1 = this.province[index2].children[0].children
                        this.qu = this.province[index2].children[0].children[0].value
                        this.E = this.qu1[0].id
                    }
                }
            },
            // 选市
            choseCity: function (e, v) {
                for (var index3 in this.city) {
                    if (e === this.city[index3].id) {
                        if (v == 1) {
                            this.dataForm.shi1=""
                            this.dataForm.shi1 = this.city[index3].value;
                        } else if (v == 2) {
                            this.dataForm.shi2=""
                            this.dataForm.shi2 = this.city[index3].value;
                        }
                        else if (v == 3) {
                            this.dataForm.shi3=""
                            this.dataForm.shi3 = this.city[index3].value;
                        } else if (v == 4) {
                            this.dataForm.shi4=""
                            this.dataForm.shi4 = this.city[index3].value;
                        }
                        this.qu1 = this.city[index3].children
                        this.qu = this.city[index3].children[0].value
                        this.E = this.qu1[0].id
                        // console.log(this.E)
                    }
                }
            },
            // 选区
            choseBlock: function (e, v) {
                this.E = e;
                // this.dataForm.addrA+=this.block[e].value;
                // console.log(this.E)
                for (var index4 in this.block) {
                    if (e === this.block[index4].id) {
                        if (v == 1) {
                            this.dataForm.qu1=""
                            this.dataForm.qu1 = this.block[index4].value;
                            this.dataForm.addrA=this.dataForm.sheng1+this.dataForm.shi1+this.dataForm.qu1

                        } else if (v == 2) {
                            this.dataForm.qu2=""
                            this.dataForm.qu2 = this.block[index4].value;
                            this.dataForm.addrB=this.dataForm.sheng2+this.dataForm.shi2+this.dataForm.qu2

                        } else if (v == 3) {
                            this.dataForm.qu3=""
                            this.dataForm.qu3 = this.block[index4].value;
                            this.dataForm.addrC=this.dataForm.sheng3+this.dataForm.shi3+this.dataForm.qu3

                        } else if (v == 4) {
                            this.dataForm.qu4=""
                            this.dataForm.qu4 = this.block[index4].value;
                            this.dataForm.addrD=this.dataForm.sheng4+this.dataForm.shi4+this.dataForm.qu4

                        }
                        // console.log(this.E)
                    }
                }

            },

        }




    } )
</script>
</div>
<!--网站底部-->
<div id="footer" class="ft">
  <div class="ft-inner clearfix">
    <div class="ft-helper clearfix">
      <dl>
        <dt>关于我们</dt>
        <dd><a href="/goto/comInfo">公司简介</a><a href="/goto/ipmt">管理团队</a><a href="/goto/netNotice">网站公告</a></dd>
      </dl>
      <dl>
        <dt>相关业务</dt>
        <dd><a href="/goto/list">我要投资</a><a href="/goto/rent">我要借款</a></dd>
      </dl>
      <dl>
        <dt>帮助中心</dt>
        <dd><a href="/goto/helpInfo">新手入门</a><a href="/user/toOwn">我的账户</a><a href="/goto/list">债权转让</a></dd>
      </dl>
      <dl>
        <dt>联系我们</dt>
        <dd><a href="/goto/contactUs">联系我们</a></dd>
      </dl>
    </div>
    <div class="ft-service">
      <dl>
        <dd>
          <p><strong>400-660-1268</strong><br>
            工作日 9:00-22:00<br>
            官方交流群:<em>12345678</em><br>
            工作日 9:00-22:00 / 周六 9:00-18:00<br>
          </p>
          <div class="ft-serv-handle clearfix"><a class="icon-hdSprite icon-ft-sina a-move a-moveHover" title="亿人宝新浪微博" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-qqweibo a-move a-moveHover" title="亿人宝腾讯微博" target="_blank" href="#"></a><a class="icon-ft-qun a-move a-moveHover" title="亿人宝QQ群" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-email a-move a-moveHover mrn" title="阳光易贷email" target="_blank" href="mailto:xz@yirenbao.com"></a></div>
        </dd>
      </dl>
    </div>
    <div class="ft-wap clearfix">
      <dl>
        <dt>官方二维码</dt>
        <dd><span class="icon-ft-erweima"><img src="../foreground/images/code.png" style="display: inline;"></span></dd>
      </dl>
    </div>
  </div>
  <div class="ft-record">
    <div class="ft-approve clearfix"><a class="icon-approve approve-0 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-1 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-2 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-3 fadeIn-2s" target="_blank" href="#"></a></div>
    <div class="ft-identity">©2015 亿人宝 All rights reserved&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;安徽省亿人宝投资管理有限公司&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/">皖ICP备12345678号-1</a></div>
  </div>
</div>
</body>
</html>
