<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../foreground/css/common.css" rel="stylesheet" />
<link href="../foreground/css/index.css" rel="stylesheet" type="text/css">
<link href="../foreground/css/detail.css" rel="stylesheet" type="text/css">
<link href="../foreground/css/borrower.css" rel="stylesheet">
<link href="../foreground/css/base.css" rel="stylesheet">
<link href="../foreground/css/lender.css" rel="stylesheet">
<script type="text/javascript" src="../foreground/script/jquery.min.js"></script>
<script type="text/javascript" src="../foreground/script/common.js"></script>
</head>
<body>
<header>
  <div class="header-top min-width" >
    <div class="container fn-clear"> <strong class="fn-left">咨询热线：400-668-6698<span class="s-time">服务时间：9:00 - 18:00</span></strong>
      <ul class="header_contact">
        <li class="c_1"> <a class="ico_head_weixin" id="wx"></a>
          <div class="ceng" id="weixin_xlgz" style="display: none;">
            <div class="cnr"> <img src="../foreground/images/code.png"> </div>
            <b class="ar_up ar_top"></b> <b class="ar_up_in ar_top_in"></b> </div>
        </li>
        <li class="c_2"><a href="#" target="_blank" title="官方QQ" alt="官方QQ"><b class="ico_head_QQ"></b></a></li>
        <li class="c_4"><a href="#" target="_blank" title="新浪微博" alt="新浪微博"><b class="ico_head_sina"></b></a></li>
      </ul>
      <ul class="fn-right header-top-ul">
        <!--用户名为空-->
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="register.html" class="" title="免费注册" >免费注册</a>
          </div>
        </li>
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="/user/toLogin" class="js-login" title="登录" >登录</a>
          </div>
        </li>
        <!--用户名不为空-->
        <li th:if="${session.userName} ne null">
          <div class="">
            <span th:text="欢迎您 "></span>
            <span th:text="${session.userName}"></span>
          </div>
        </li>
        <li th:if="${session.userName} ne null">
          <div class="" >
            <a href="/user/toLogin" class="js-login" title="退出">退出</a>
          </div>
        </li>
      </ul>
    </div>

  <div class="header min-width">
    <div class="container">
      <div class="fn-left logo"> <a class="" href="/goto/index"> <img src="../foreground/images/logo.png" title=""> </a> </div>
      <ul class="top-nav fn-clear">
        <li > <a href="/goto/index">首页</a> </li>
        <li > <a href="/goto/list" >我要投资</a> </li>
        <li class="on"> <a href="/goto/rent">我要融资</a> </li>
        <li> <a href="/goto/helpInfo">安全保障</a> </li>
        <li class="top-nav-safe"> <a href="/user/toOwn">我的账户</a> </li>
        <li> <a href="/goto/comInfo">关于我们</a> </li>
      </ul>
    </div>
  </div>
  </div>
</header>
<!--列表-->
<div class="page-filter wrap">
  <center>
    <table border="" width="auto">
      <tr>
        <td>
          <div class="right-container loadAccount">
            <!-- <div class="loanStep2 png"></div> -->
            <div class="loadApplicationDotline"></div>
            <div class="common_box common_box_loadAccount">
              <h2>
                <span class="icontit icontit17 png"></span>精英标借款
              </h2>
              <div class="inner_box clearfix" style="padding:20px;">
                <div class="conditions_apply">
                  <h3 class="condi_app_tit clearfix">
                       <span class="l">申请条件</span>
                  </h3>
                  <h4 class="icoborrowguide icoborrowguide3">行业优先</h4>
                  <p class="icoborrow_cont">
                    在宜人贷规定的12个行业内的借款用户将优先审批。
                    <a href="javascript:;">12行业有哪些&gt;&gt;</a>
                  </p>
                  <h4 class="icoborrowguide icoborrowguide1">信用卡优先</h4>
                  <p class="icoborrow_cont">凡是持有个人信用卡的借款用户将优先审批。</p>
                  <h4 class="icoborrowguide icoborrowguide2">优质用户享受优惠费率：</h4>
                  <p class="icoborrow_cont">满足至少持有一张额度7万（含）的信用卡，且税后打卡工资不低于1万（含），可享受优惠的服务费率。</p>
                  <h4 class="icoborrowguide icoborrowguide8">工资超过两千优先：</h4>
                  <p class="icoborrow_cont">打卡工资大于等于2000元的借款用户将优先审批。</p>
                </div>
                <div class="conditions_required clearfix">
                  <h4>必要申请资料：</h4>
                  <ul class="borrowaccount_required">
                    <li class="id">身份证复印件</li>
                    <li class="bank">银行工资卡流水（
                      <a href="javascript:;">网银截屏</a> 或 上传银行打印流水照片）</li>
                    <li class="note">个人信用报告（
                      <a href="javascript:;">网上获取</a> 或
                      <a href="javascript:;">到各地征信机构获取</a>）</li>
                  </ul>
                  <div class="notice_required_box tips tips-info">温馨提示：宜人贷会根据借款人提交的资料及信息进行综合评估，不同信用资质的用户，在审核通过之后，会匹配不同比例的服务费，具体以信用审核结果为准。</div>
                </div>
                <div class="loan_box clearfix">
                  <h3 class="condi_app_tit clearfix">
                    <span class="l">产品介绍</span>
                  </h3>
                  <div class="loan_con l">
                    <p class="clearfix">
                      <em class="icontit icontit37 png l"></em>借款额度：1 - 50 万元
                    </p>
                    <p class="clearfix">
                      <em class="icontit icontit38 png l"></em>还款方式：每月等额本息
                    </p>
                    <p class="clearfix">
                      <em class="icontit icontit44 png l"></em>审核时间：1 - 2个工作日
                    </p>
                  </div>
                  <div class="interest_rate r">
                    <h4>期限利率</h4>
                    <div class="interest_rate_gai clearfix">
                      <ul class="interest_rate_ul r">
                        <li>
                          <div class="interest_rate_ul_div">
                            <strong><i>12</i>个月</strong> <span>期限</span>
                          </div> <span class="interest_rate_ul_span">年化利率</span> <strong class="interest_rate_ul_strong"><i>10</i>%</strong>
                        </li>
                        <li>
                          <div class="interest_rate_ul_div">
                            <strong><i>18</i>个月</strong> <span>期限</span>
                          </div> <span class="interest_rate_ul_span">年化利率</span> <strong class="interest_rate_ul_strong"><i>10.5</i>%</strong>
                        </li>
                        <li>
                          <div class="interest_rate_ul_div">
                            <strong><i>24</i>个月</strong> <span>期限</span>
                          </div> <span class="interest_rate_ul_span">年化利率</span> <strong class="interest_rate_ul_strong"><i>11</i>%</strong>
                        </li>
                        <li>
                          <div class="interest_rate_ul_div">
                            <strong><i>36</i>个月</strong> <span>期限</span>
                          </div> <span class="interest_rate_ul_span">年化利率</span> <strong class="interest_rate_ul_strong"><i>12</i>%</strong>
                        </li>
                        <li class="interest_rate_last">
                          <div class="interest_rate_ul_div">
                            <strong><i>48</i>个月</strong> <span>期限</span>
                          </div> <span class="interest_rate_ul_span">年化利率</span> <strong class="interest_rate_ul_strong"><i>12.5</i>%</strong>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="conditions_apply_sales">
                  <h4>平台服务费费：</h4>
                  <p>平台服务费即平台向借款人收取的服务总费用，其中包含前期服务费、分期服务费两部分。信用资质良好的用户可免收分期服务费。</p>
                  <p>
                    前期服务费：借款人通过审核后放款前会一次性扣除的服务费为前期服务费。<br>分期服务费：借款人除前期服务费以外需要按月缴纳的服务费。
                  </p>
                </div>
              </div>
            </div>
            <div class="loadAccountBtn">
              <form id="begin" name="begin" action="/user/tocheck" >
                <table class="wwFormTable">
                  <div id="main">
                    <input type="submit" value="立即申请" class="input_btn btn_blue btn_normal" id="">
                  </div>
                </table>
              </form>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </center>
</div>
<!--网站底部-->
<div id="footer" class="ft">
  <div class="ft-inner clearfix">
    <div class="ft-helper clearfix">
      <dl>
        <dt>关于我们</dt>
        <dd><a href="/goto/comInfo">公司简介</a><a href="/goto/ipmt">管理团队</a><a href="/goto/netNotice">网站公告</a></dd>
      </dl>
      <dl>
        <dt>相关业务</dt>
        <dd><a href="/goto/list">我要投资</a><a href="/goto/rent">我要借款</a></dd>
      </dl>
      <dl>
        <dt>帮助中心</dt>
        <dd><a href="/goto/helpInfo">新手入门</a><a href="/user/toOwn">我的账户</a><a href="/goto/list">债权转让</a></dd>
      </dl>
      <dl>
        <dt>联系我们</dt>
        <dd><a href="/goto/contactUs">联系我们</a></dd>
      </dl>
    </div>
    <div class="ft-service">
      <dl>
        <dd>
          <p><strong>400-660-1268</strong><br>
            工作日 9:00-22:00<br>
            官方交流群:<em>12345678</em><br>
            工作日 9:00-22:00 / 周六 9:00-18:00<br>
          </p>
          <div class="ft-serv-handle clearfix"><a class="icon-hdSprite icon-ft-sina a-move a-moveHover" title="亿人宝新浪微博" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-qqweibo a-move a-moveHover" title="亿人宝腾讯微博" target="_blank" href="#"></a><a class="icon-ft-qun a-move a-moveHover" title="亿人宝QQ群" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-email a-move a-moveHover mrn" title="阳光易贷email" target="_blank" href="mailto:xz@yirenbao.com"></a></div>
        </dd>
      </dl>
    </div>
    <div class="ft-wap clearfix">
      <dl>
        <dt>官方二维码</dt>
        <dd><span class="icon-ft-erweima"><img src="../foreground/images/code.png" style="display: inline;"></span></dd>
      </dl>
    </div>
  </div>
  <div class="ft-record">
    <div class="ft-approve clearfix"><a class="icon-approve approve-0 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-1 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-2 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-3 fadeIn-2s" target="_blank" href="#"></a></div>
    <div class="ft-identity">©2015 亿人宝 All rights reserved&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;安徽省亿人宝投资管理有限公司&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/">皖ICP备12345678号-1</a></div>
  </div>
</div>
</body>
</html>
