<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>p2p网贷平台</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/foreground/css/common.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/foreground/css/user.css" />
<link rel="stylesheet" type="text/css" href="/foreground/css/jquery.datetimepicker.css"/>
<script type="text/javascript" src="/foreground/script/jquery.min.js"></script>
<script type="text/javascript" src="/foreground/script/common.js"></script>
<script src="/foreground/script/user.js" type="text/javascript"></script>
  <!-- 引入样式 -->
  <script type="text/javascript" src="/js/vue.js"></script>
  <script type="text/javascript" src="/js/axios.min.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="/elementui/elementui.css">
  <!-- 引入组件库 -->
  <script src="/elementui/elementui.js"></script>
</head>
<body>
<header>
  <div class="header-top min-width">
    <div class="container fn-clear"> <strong class="fn-left">咨询热线：400-668-6698<span class="s-time">服务时间：9:00 - 18:00</span></strong>
      <ul class="header_contact">
        <li class="c_1"> <a class="ico_head_weixin" id="wx"></a>
          <div class="ceng" id="weixin_xlgz" style="display: none;">
            <div class="cnr"> <img src="../foreground/images/code.png"> </div>
            <b class="ar_up ar_top"></b> <b class="ar_up_in ar_top_in"></b> </div>
        </li>
        <li class="c_2"><a href="#" target="_blank" title="官方QQ" alt="官方QQ"><b class="ico_head_QQ"></b></a></li>
        <li class="c_4"><a href="#" target="_blank" title="新浪微博" alt="新浪微博"><b class="ico_head_sina"></b></a></li>
      </ul>
      <ul class="fn-right header-top-ul">
        <li> <a href="/goto/index" class="app">返回首页</a> </li>
        <!--用户名为空-->
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="/goto/register" class="" title="免费注册" >免费注册</a>
          </div>
        </li>
        <li th:if="${session.userName} eq null">
          <div class="" >
            <a href="/user/toLogin" class="js-login" title="登录" >登录</a>
          </div>
        </li>
        <!--用户名不为空-->
        <li th:if="${session.userName} ne null">
          <div class="">
            <span th:text="欢迎您 "></span>
            <span th:text="${session.userName}"></span>
          </div>
        </li>
        <li th:if="${session.userName} ne null">
          <div class="" >
            <a href="/user/toLogin" class="js-login" title="退出">退出</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="header min-width">
    <div class="container">
      <div class="fn-left logo"> <a class="" href="/goto/index"> <img src="../foreground/images/logo.png" title=""> </a> </div>
      <ul class="top-nav fn-clear">
        <li class="on"> <a href="/goto/index">首页</a> </li>
        <li> <a href="/goto/list" class="">我要投资</a> </li>
        <li> <a href="/goto/rent">我要融资</a> </li>
        <li> <a href="/goto/helpInfo">安全保障</a> </li>
        <li class="top-nav-safe"> <a href="/user/toOwn">我的账户</a> </li>
        <li> <a href="/goto/comInfo">关于我们</a> </li>
      </ul>
    </div>
  </div>
</header>
<!--个人中心-->
<div class="wrapper wbgcolor">
  <div class="w1200 personal">
    <div class="credit-ad"><img src="../foreground/images/clist1.jpg" width="1200" height="96"></div>
    <div id="personal-left" class="personal-left">
      <ul>
        <li ><span><a href="/skip/toPersonIndex"><i class="dot dot1"></i>账户总览</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="Record">资金记录</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="Investment">投资记录</a></span></li>
        <li class="pleft-cur"><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="Thirdparty">融资记录</a></span></li>
        <li ><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="Plan">回款计划</a></span></li>
        <li><span><a style="font-size:14px;text-align:center;width:115px;padding-right:35px;" href="Conversion">还款记录</a></span></li>
        <li > <span> <a href="Packet"> <i class="dot dot02"></i> 还款 </a> </span> </li>
        <li><span><a href="Recharge1"><i class="dot dot03"></i>充值</a></span></li>
        <li class=""><span><a href="Withdraw"><i class="dot dot04"></i>提现</a></span></li>
        <!--新增-->
        <li><span><a href="Change"><i class="dot dot09"></i>修改支付密码</a></span></li>
        <li><span><a href="Setting"><i class="dot dot09"></i>修改密码</a></span></li>
      </ul>
    </div>
    <div class="personal-main">
      <div class="personal-back">
        <h3><i>回款计划</i></h3>
          <div class="personal-money">

            <div class="personal-huan">
              <div class="personal-money" style="width: 1000px">
                <div id="diva" class="money-choose">
                  <!--列表顶部搜索和工具条-->
                  <el-row>
                    <el-form :inline="true" :model="searchForm" class="demo-form-inline">
                      <el-form-item label="选择状态">
                        <el-select v-model="value" placeholder="请选择">
                          <el-option
                                  v-for="item in options"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value">
                          </el-option>
                        </el-select>
                      </el-form-item>

                      <el-form-item label="选择时间">
                        <el-select v-model="value1" placeholder="请选择">
                          <el-option
                                  v-for="item in options1"
                                  :key="item.value1"
                                  :label="item.label1"
                                  :value="item.value1">
                          </el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item>
                        <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                        <el-button type="success" icon="plus" @click="flushClick">刷新</el-button>
                      </el-form-item>
                    </el-form>
                  </el-row>
                  <!--列表-->
                  <el-row>
                    <el-table
                            :data="tableData"
                            v-loading.body="loading"
                            border
                            style="width: 100%;height: 300px;">


                      <el-table-column
                              prop="BIDPROJECT"
                              label="招标项目"
                              width="100">
                      </el-table-column>
                      <el-table-column
                              prop="BIDAMOUNT"
                              label="招标金额"
                              width="100">
                      </el-table-column>
                        <el-table-column
                                prop="BIDRATE"
                                label="还款利率/百分率"
                                width="150">
                      </el-table-column>
                      <el-table-column
                              prop="BIDAPPLYDATE"
                              label="申请时间"
                              width="100">
                      </el-table-column>
                      <el-table-column
                              prop="BIDSTATE"
                              label="状态"
                              width="100">
                      </el-table-column>
                      <el-table-column
                              prop="BIDDEADLINE"
                              label="还款期限/月"
                              width="100">
                      </el-table-column>
                      <el-table-column
                              prop="INFOS"
                              label="审核意见"
                              width="100">
                      </el-table-column>
                      <!--<el-table-column label="操作">
                        <template scope="scope">
                          <el-button :plain="true" type="success" size="small" icon="edit" @click="returnClick(scope.row)">我要还款</el-button>
                          &lt;!&ndash;<el-button :plain="true" type="danger" size="small" icon="delete" @click="deleteClick(scope.row)">通过</el-button>
                          <el-button :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.row)">驳回</el-button>&ndash;&gt;
                        </template>
                      </el-table-column>-->
                    </el-table>
                  </el-row>

                  <!--列表底部工具条和分页符-->
                  <el-row style="margin-top: 20px" type="flex" justify="end">
                    <el-col :span="6" >
                    </el-col>
                    <el-col :span="18" >
                      <el-pagination
                              style="float: left"
                              @size-change="pageSizeChange"
                              @current-change="currentPageChange"
                              :current-page="currentPage"
                              :page-sizes="[5, 10, 20]"
                              :page-size="pageSize"
                              layout="total, sizes, prev, pager, next, jumper"
                              :total="total">
                      </el-pagination>
                    </el-col>
                  </el-row>
                </div>
              </div>
            </div>


          </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el:"#diva",
        data:{
            isDisabled:false,
            tableData:[],
            returnData:[],
            //获取session中的值，需要两个中括号
            //userName:'[[${session.userName}]]',
            userId:'',
            //还款数据长度
            datalen:'',
            //数据最高长度
            sumlen:'',
            //显示加载中样式
            loading:false,
            //默认让还款界面的勾选框显示
            show:true,
            //搜索表单
            searchForm: {
                borrownum: '',
                danbaostyle: ''
            },
            //下拉选择框
            options: [{
                value: '全部',
                label: '全部'
            }, {
                value: '待审核',
                label: '待审核'
            }, {
                value: '待投标',
                label: '待投标'
            }, {
                value: '满标',
                label: '满标'
            }, {
                value: '流标',
                label: '流标'
            }, {
                value: '放款',
                label: '放款'
            }, {
                value: '还款中',
                label: '还款中'
            }, {
                value: '一审驳回',
                label: '一审驳回'
            }, {
                value: '二审驳回',
                label: '二审驳回'
            }],
            value: '',
            //下拉框2
            options1: [{
                value1: '全部',
                label1: '全部'
            }, {
                value1: '今天',
                label1: '今天'
            }, {
                value1: '本周',
                label1: '本周'
            }, {
                value1: '本月',
                label1: '本月'
            }, {
                value1: '本年',
                label1: '本年'
            }],
            value1: '',


            //多选值
            multipleSelection: [],
            huanmultipleSelection:[],
            //当前页
            currentPage:1,
            //分页大小
            pageSize:5,
            //当前页A
            currentPageA:1,
            //分页大小A
            pageSizeA:5,
            //总记录数
            total:800,
            //查看详情页面是否显示
            returnFormVisible:false,
            goUrl:'',
            borrowid:'',
            //查看详情界面数据
            returnForm: {
                USERID: 0,
                UNAME: '',
                REALNAME: '',
                AGE: 0,
                PHONE:'',
                ADDRESS: '',
                IDCARD:'',
                EMAIL:'',
                ICPICA:'',
                ICPICB:''
            },
        },
        //页面加载时首次取值
        created:function () {
            var self = this;
            axios.post('/person/bidinfo',{'pageNo':this.currentPage,'type':this.value,'time':this.value1,'pageSize':this.pageSize,'userId':this.userId}).then(function (response) {
                self.tableData = response.data.pageData;
                //alert(JSON.stringify(response.data.pageData));
                self.total=response.data.total;
            })
        },
        methods: {
            //确认还款
            returnSelection: function () {
                var self = this;
                var huanmultipleSelection = this.huanmultipleSelection;
                //alert(huanmultipleSelection);
                if (huanmultipleSelection.length !=1 ) {
                    self.$message({
                        message: '请至少选择一条记录',
                        type: 'error'
                    });
                    return;
                }
            },

            //表格重新加载数据
            loadingData: function () {
                var _self = this;
                _self.loading = true;
                var searchForm = {
                    'pageNo': this.currentPage,
                    'pageSize': this.pageSize,
                    'borrowNum': this.searchForm.borrownum,
                    'danbaoStyle': this.searchForm.danbaostyle,
                    'type':this.value,
                    'time':this.value1,
                    'userId': this.userId
                };
                axios.post('/person/bidinfo', searchForm).then(function (response) {
                    _self.total = response.data.total;
                    _self.tableData = response.data.pageData;
                })
                console.log(_self.currentPage);
                setTimeout(function () {
                    console.info("加载数据成功");
                    _self.loading = false;
                }, 300);
            },
            //分页大小修改事件
            pageSizeChange: function (val) {
                console.log('每页 ' + val + ' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange: function (val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件A
            currentPageChangeA: function (val) {
                this.currentPageA = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingDataA();//重新加载数据
            },
            //表格查询事件
            searchClick: function () {
                var self = this;

                self.loadingData();//重新加载数据
            },
            //刷新
            flushClick: function () {
                var self = this;
                this.searchForm = {
                    borrownum: '',
                    danbaostyle: ''
                }
                this.loadingData();//重新加载数据
            },
        }
    })
</script>
<!--网站底部-->
<div id="footer" class="ft">
  <div class="ft-inner clearfix">
    <div class="ft-helper clearfix">
      <dl>
        <dt>关于我们</dt>
        <dd><a href="/goto/comInfo">公司简介</a><a href="/goto/ipmt">管理团队</a><a href="/goto/netNotice">网站公告</a></dd>
      </dl>
      <dl>
        <dt>相关业务</dt>
        <dd><a href="/goto/list">我要投资</a><a href="/goto/rent">我要借款</a></dd>
      </dl>
      <dl>
        <dt>帮助中心</dt>
        <dd><a href="/goto/helpInfo">新手入门</a><a href="个人中心首页.html">我的账户</a><a href="/goto/list">债权转让</a></dd>
      </dl>
      <dl>
        <dt>联系我们</dt>
        <dd><a href="/goto/contactUs">联系我们</a></dd>
      </dl>
    </div>
    <div class="ft-service">
      <dl>
        <dd>
          <p><strong>400-660-1268</strong><br>
            工作日 9:00-22:00<br>
            官方交流群:<em>12345678</em><br>
            工作日 9:00-22:00 / 周六 9:00-18:00<br>
          </p>
          <div class="ft-serv-handle clearfix"><a class="icon-hdSprite icon-ft-sina a-move a-moveHover" title="亿人宝新浪微博" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-qqweibo a-move a-moveHover" title="亿人宝腾讯微博" target="_blank" href="#"></a><a class="icon-ft-qun a-move a-moveHover" title="亿人宝QQ群" target="_blank" href="#"></a><a class="icon-hdSprite icon-ft-email a-move a-moveHover mrn" title="阳光易贷email" target="_blank" href="mailto:xz@yirenbao.com"></a></div>
        </dd>
      </dl>
    </div>
    <div class="ft-wap clearfix">
      <dl>
        <dt>官方二维码</dt>
        <dd><span class="icon-ft-erweima"><img src="../foreground/images/code.png" style="display: inline;"></span></dd>
      </dl>
    </div>
  </div>
  <div class="ft-record">
    <div class="ft-approve clearfix"><a class="icon-approve approve-0 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-1 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-2 fadeIn-2s" target="_blank" href="#"></a><a class="icon-approve approve-3 fadeIn-2s" target="_blank" href="#"></a></div>
    <div class="ft-identity">©2015 亿人宝 All rights reserved&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;安徽省亿人宝投资管理有限公司&nbsp;&nbsp;&nbsp;<span class="color-e6">|</span>&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.miitbeian.gov.cn/">皖ICP备12345678号-1</a></div>
  </div>
</div>
<script src="../foreground/script/jquery.datetimepicker.js" type="text/javascript"></script>
<script src="../foreground/script/datepicker.js" type="text/javascript"></script>
</body>
</html>
