<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.sb.dao.DeptDao">
    <cache type="org.mybatis.caches.redis.RedisCache" blocking="false"
           flushInterval="0" readOnly="true" size="1024" eviction="FIFO"/>
    <!--部门列表查询-->
    <select id="getList" resultType="map">
        select deptno,dname,loc from dept2
    </select>
    <!-- 部门添加 -->
    <insert id="addDept">
        <!--<selectKey keyProperty="deptno" order="BEFORE" resultType="Integer">-->
        <!--select seq_deptid from dual-->
        <!--</selectKey>-->
        insert into dept2 values (seq_deptid.nextval,#{dname},#{loc})
    </insert>
    <!-- 部门修改 -->
    <update id="updateDept" >
        UPDATE dept2 set dname=#{dname},loc=#{loc} where deptno=#{deptno}
    </update>
    <!-- 部门删除 -->
    <delete id="delDept" >
        DELETE from dept2 where deptno=#{deptno}
    </delete>
    <!-- 根据Id查询部门信息 -->
    <select id="getDeptById" resultType="com.aaa.sb.entity.Dept">
        <include refid="sel1"/> where deptno = #{deptno}
    </select>
    <sql id="sel1">
        select deptno,dname,loc from dept2
    </sql>
</mapper>